html, body {
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

a, p {
    font-family: 'Roboto', sans-serif;
}

a { color: #22a119; }
a:hover { color: #176e11; }
a:active { color: #11520d; }

.btn-primary { 
    background-color: #22a119; 
    border-color: #22a119;
}
.btn-primary:hover { 
    background-color: #176e11;
    border-color: #176e11; 
}
.btn-primary:active { 
    background-color: #11520d;
    border-color: #11520d;
}
.btn {
    border-radius: 0;
}

h1, h2 { text-transform: uppercase; }

h1, h2, h3 { font-weight: 800; }

h1, h2, h3, h4, h5, h6, .btn {
    font-family: 'Open Sans', sans-serif;
}

.bg-dark-gray {
    background-color: #333;
}

.bg-light-gray {
    background-color: #eee;
}

.bg-dark-gray p {
    color: #aaa;
}

.text-medium-gray {
    color: #555;
}

.text-light-gray {
    color: #aaa;
}

.text-700-bold {
    font-weight: 700; 
}

.nav-link, .uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 1180px;
}

.logo-text {
    font-weight: 400;
    font-size: 1rem;
    padding-top: 18px;
    float: left;
    margin-bottom: 0;
}

.navbar {
    padding: 0;
    padding-top: 10px;
}

.nav-link {
    color: #111 !important;
    font-weight: 700;
    margin: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler {
    margin: 0 10px 10px auto;
    padding: 6px 16px;
    background-color: #ffc400;
}

.navbar-toggler i {
    color: #fff;
}

.scad-logo {
    height: 40px;
}

@media (min-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .logo-text {
        font-size: 1rem;
        padding-top: 30px;
    }

    .scad-logo {
        height: 60px;
    }
}

/* Hero Section */

.hero-section {
    background-image: url("../assets/hero.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.hero-text-container {
    margin-top: 10vh;
}

.hero-sub-text {
    background: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    padding: 20px 30px;
    font-weight: 200;
    display: inline-block;
}

.hero-main-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 800;
    text-shadow: 1px 1px 2px #111;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .hero-text-container {
        margin-top: 20vh;
    }

    .hero-sub-text {
        font-size: 2rem;
        padding: 8px 30px;
    }

    .hero-main-text {
        font-size: 6rem;
    }
}

.hero-button {
    margin: 10px;
    font-weight: 800;
    font-size: 1.4rem;
    padding: 20px 60px;
    border-radius: 0;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}


/* PERSPICIATIS ICONS SECTION */

.icons-section {
    text-align: center;
}

.title-separator {
    border: 1px solid #22a119;
    width: 40px;
}

.icon-circle {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #22a119;
    margin: 30px auto;
}

.icon-circle i {
    line-height: 100px;
    font-size: 30px;
}

.icon-title {
    margin: 20px;
}


/** UNDE CAROUSEL SECTION **/

.unde-title, .unde-body {
    color: #555;
}

.unde-body {
    margin-top: 40px;
    margin-bottom: 20px;
}

.unde-list {
    list-style: none;
    margin-left: 16px !important;
}

.unde-list li {
    line-height: 40px;
}

.unde-list li .fa-li {
    font-size: 10px;
    color: #22a119;
}

.carousel-inner {
    overflow: hidden;
    max-height: 400px;
}

.carousel-item {
    height: 400px;
}

.carousel-item>img {
    height: auto;
    width: auto;
    max-height: 400px;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    margin-top: 170px;
}


/** OMNIS SECTION **/

.portfolios {
    margin-top: 60px;
}

.portfolio-block {
    margin: 1px;
    padding: 0;
}

.portfolio-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);

    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.portfolio-image-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);

    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.portfolio-title-container {
    height: calc(100% - 60px);
    margin: 30px;
    padding: 40px 10px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0);

    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

.portfolio-image-overlay:hover .portfolio-title-container {
    border-color: rgba(255, 255, 255, 1);

    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

.modal-content {
    border-radius: 0;
}

.portfolio-modal-categories {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    list-style: none;
}

.portfolio-modal-categories li {
    display: inline;
    background-color: #ffc400;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
}

/** STATS SECTION **/

.stats-container {
    color: #fff;
}

.stat-block h1 {
    font-size: 5rem;
}

.stat-block h4 {
    font-weight: 700;
    text-transform: uppercase;
}

/** LOGOS SECTION ***/

.logo-carousel img {
    max-height: 140px;
    margin: 40px auto;
}

.slick-dots {
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    padding: 10px;
}

.slick-dots>.slick-active>.logo-carousel-dot{
    background-color: #22a119;
}

.slick-dots li>.logo-carousel-dot {
    height: 8px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
}

/*** NATUS/TEAM SECTION ***/

.natus-card {
    margin-top: 40px;
}

.natus-card-image-container {
    margin-bottom: 10px; 
}

.natus-card-text-container {
    padding: 10px;
}

.natus-card-title {
    color: #111;
    padding: 10px;
    font-weight: 800;
}

.natus-card-subtitle {
    padding: 10px;
}

.natus-card-body {
    padding: 10px;
    color: #111;
}

/** CONTACT US SECTION **/

.form-control {
    border-radius: 0;
}

.contact-info {
    margin-top: 40px;
}

.contact-col {
    margin-top: 40px;
}

.business-hours-list {
    margin-left: 25px !important;
}

.contact-submit-button {
    border-radius: 0;
    padding: 10px 20px;
}

footer {
    padding: 20px;
    padding-bottom: 10px;
    background: #111;
    text-align: center;
    font-size: 0.8rem;
}

.elevator {
    height: 3rem;
    width: 3rem;
    bottom: 40px;
    right: 40px;
    left: unset;
    color: #fff;
    background-color: #999;
    text-align: center;
    padding-top: 10px;
    display: none;
}

.elevator i {
    position: relative;
    text-align: center;
}